
@using MelonMVCBookshelf.ViewModels
@model RequestsPageViewModel

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Date of Adding</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.Status</td>
                <td>@item.Priority</td>
                <td>@item.DateOfAdding</td>
                <td>@item.Category</td>
            </tr>
        }
        </tbody>
</table>
