@using MelonMVCBookshelf.ViewModels
@using MelonMVCBookshelf.Models.Enums
@model HRResourcesViewModel

<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <img src="melon-bookshelf-logo.svg">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Home</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="ResourcesPage.html">Resources</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="RequestDetails.html">Requests</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn" id="sidebarToggle">
                    <img class="hamburger" src="assets/menu.svg" alt="Menu">

                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>

        <div class="container-fluid">
            <h1 class="mt-4 mb-4">Edit request</h1>
        </div>
        <form>
            <button asp-controller="ResourcesCrudController" asp-action="" type="button" class="btn btn-secondary"> Upvote &#x1F44D </button>
            <button asp-controller="ResourcesCrudController" asp-action="" type="button" class="btn btn-secondary"> Follow &#x2764</button>
            <div class="d-block mt-2">
                <p class="mt-2 font-weight-bold ">Category:</p>
            </div>
            <span>Type:</span>
            <select asp-for="@Model.ResourceType" asp-items="Html.GetEnumSelectList<ResourceType>()" class="custom-select custom-select-lg mb-3">
            </select>
            <div class="mt-2">
                <label for="title">Title:</label>
                <input asp-for="@Model.Title" class="form-control" id="title" type="text" placeholder="">
            </div>
            <div class="mt-2">
                <label for="author">Author:</label>
                <input asp-for="@Model.Author" class="form-control" id="author" type="text" placeholder="">
            </div>
            @*<div class="mt-2 form-group">
                    <label for="detailsRequests">Details:</label>
                    <textarea class="form-control" id="detailsRequests" rows="3"></textarea>
                </div>*@

            <div class="mt-2 md-2">
                <label for="link">Link:</label>
                <input asp-for="@Model.Link" class="form-control" id="link" type="text" placeholder="">
            </div>

            <span>Status:</span>
            <select asp-for="@Model.Status" asp-items="Html.GetEnumSelectList<ResourcesStatus>()"class="mt-2 custom-select custom-select-lg mb-3">
            </select>
            <div class="mt-2">
                <label> Date: </label>
                <input asp-for="@Model.DateOfTaking" type="date" name="date" />
            </div>
            <button type="submit" class=" mt-4 btn btn-primary">Submit</button>
        </form>

    </div>
</div>
